{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container bg-light shadow-md border form-layout rounded p-5">
  <h3>Create Record</h3>
  <h6>Start adding in the required details for you record

  </h6>
  <hr>

  <form method="POST" autocomplete="off" >
    {% csrf_token %}

            {{form.first_name|as_crispy_field}}

            <br>

            {{form.last_name|as_crispy_field}}

            <br>

            {{form.email|as_crispy_field}}

            <br>

            {{form.phone|as_crispy_field}}

            <br>

            {{form.address|as_crispy_field}}

            <br>

            {{form.city|as_crispy_field}}

            <br>

            {{form.province|as_crispy_field}}

            <br>

            {{form.country|as_crispy_field}}


            <br>
    <button type="submit" class="btn btn-primary" >Create Record  &nbsp; <i class="fa fa-check" aria-hidden="true"></i></button>
  
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">   <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Return</a>

  </form>
  
  
</div>
<br>
{% endblock content %}