{% extends "webapp/base.html" %}


{% block content %}
<h5>Welcome to the dashboard page  <b>{{request.user}}</b></h5>
<hr>

<a href="{% url 'dashboard' %}" class="btn btn-outline-primary btn-sm hover">Create a new record</a>

<hr>

<table class="table table-light table-hover table-bordered">
  <thead class="table-dark">
    <tr>
        <th scope='col'> ID </th>
        <th scope='col'>Full Name  </th>
        <th scope='col'>Email  </th>
        <th scope='col'>Phone  </th>
        <th scope='col'>Address  </th>
        <th scope='col'>City  </th>
        <th scope='col'>Province  </th>
        <th scope='col'>View  </th>
    </tr>

  </thead>

  <tbody>
    {% if records %}
    {% for record in records %}

<tr>
    <td>{{record.id}}</td>
    <td>{{record.first_name}} {{record.last_name}}</td>
    <td>{{record.email}}</td>
    <td>{{record.phone}}</td>
    <td>{{record.address}}</td>
    <td>{{record.city}}</td>
    <td>{{record.province}}</td>
    <td></td>
</tr>

{% endfor %}
{% endif %}
   
  </tbody>
</table>


{% endblock content %}